.card{
  width:400px;
  height: 400px;
  background-color: aquamarine;
  color: red;
  font-size:large ;
  border: 5px solid blue;
  border-radius: 10px;
  padding: 25px;
  margin: auto;
  text-align: center;

}

.book-list{
  display: flex;
  flex-wrap: wrap;
}

.header{
  background-color: blue;
  color: white;
  width: 100vw;
  height:50px ;
}
.footer{

  background-color: black;
  color: white;
  width: 100vw;
  height: 50px;
}