.card{
  width:400px;
  height: 400px;
  background-color: gold;
  color: red;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 20px;
  margin-bottom:10px;
  text-align: center;

}

.booklist{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;

}